*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Hanken Grotesk', sans-serif;
    background-color: hsl(221, 100%, 96%); /*pale blue*/
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    padding: 50px;
}
main{
    
    max-width: 40rem;
    width: 91%;
    border-radius: 10px;
    display: flex;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    
}
.score{
    background-color: white;
    border-radius: 50px;
   
}

.summary{
    background-color: hsl(241, 81%, 54%);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.myresult
{
    
    flex: 1;
    border-color: black;
    padding:20px;
    margin: 10px;


}

.myresult:first-child{
    margin-right: 20px;
}

.your-result,
.final-score,
.score-great,
.score-comment
{
    padding: 10px;
    margin: 10px;
    font-size: 18px;
}

.your-result
{
    text-align: center;
    color: hsl(241, 100%, 89%);
}




.final-score
{
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    line-height: 50px;
    text-align: center;
    background-color:hsl(256, 72%, 46%);
    border-radius: 50%;    
}

.final-score h1{
    color:white;
    font-size: 50px;
    margin: 0;
    line-height: 1;
}

.final-score p
{
    color: hsl(241, 100%, 89%);
    font-size: 18px;
    text-align: center;
    margin: 0;;
}

.score-great
{
    text-align: center;
    color:white;
    font-size: 24px;
    font-weight: 700;
}

.score-comment
{
    font-size: 18px;
    text-align: center;
    color: hsl(241, 100%, 89%);
}

.textsummary
{
    color: black;
    font-weight: 700;
    padding: 10px;
    margin: 10px;

}

ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}

li
{
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin: 15px;
    background-color: hsl(241, 100%, 89%);
    border-radius: 50px;
}





.continue-button
{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: hsl(224, 30%, 27%);
    color:white;
    padding: 10px;
    margin: 30px 10px 10px 10px;

}
.continue-button:hover
{
    background-color: hsl(224, 30%, 37%);
    color: hsl(221, 100%, 96%);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

